.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav a, .nav a:active {
  color: rgb(136, 136, 136);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.nav a:hover {
  color: rgb(255, 255, 255);
}